.imageContent{
    display:flex;
    justify-content:center;
    align-items: center;
    .image{
        border-radius: 3px;
        width: 236px;
        height:244px;
        z-index: 1;
        transition: 0.5s ease;

        &:hover{
            transform: translate(17px,21px);
        }
        
    }
    .frame{
    position: absolute;
    right: 452px;
    top: 334px;
    width: 234px;
    height:244px;
    border: 2px solid var(--secondary);
    border-radius: 3px;
    background-color: transparent;

    &:hover{
        background-color: var(--secondary);
        -webkit-transition: background-color 500ms ease-in;
        -ms-transition: background-color 500ms ease-in;
        transition: background-color 500ms ease-in;
        }
    }
}
@media(max-width:1440px){
    .imageContent{
        .image{
            width: 215px;
            height:220px;
        }
        .frame{
            position: absolute;
            right: 269px;
            top: 285px;
            width: 206px;
            height:214px;
        }
    }
    
}

@media(max-width:1024px){
    .imageContent{
        .image{
            width: 215px;
            height:220px;
        }
        .frame{
            position: absolute;
            right: 126px;
            top: 280px;
            width: 206px;
            height:214px;
        }
    }
    
}

@media(max-width:768px){
    .imageContent{
        .image{
            width: 180px;
            height:180px;
            border-radius: 50%;
            border: 2px solid var(--btn-text);

            &:hover{
                transform: translateY(-12px);
                border-color:var(--secondary);
            }
        }
        .frame{
            visibility: hidden;
        }
    }
    
}

@media(max-width:425px){
    .imageContent{
        .image{
            width: 150px;
            height:150px;
        }
    }
    
}