.container {
  display: flex;
  padding: 4rem 3rem;
  width: 100%;
  height: 85vh;
  justify-content: space-between;
  align-items: center;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 100%;
    gap: 12rem;
  }
}

.avatar {
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resumeButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

@media (max-width: 1440px) {
  .profile {
    .info {
      gap: 8rem;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 3rem 2rem;
  }
  .profile {
    .info {
      gap: 4rem;
    }
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
  .profile {
    height: 100%;
    justify-content: space-evenly;

    .info {
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 320px) {
  .container {
    flex-direction: column;
  }
}
