.overlay{
    background: rgba(42, 60, 71, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: linear-gradient(225deg, var(--btn-background) 0%, var(--primary) 100%);
    width: 100%;
    max-width: 1100px;
    height: 820px;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    position: relative;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg{
            cursor: pointer;
        }
        div{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            h1{
                font-weight: 500;
                color: var(--text);
            }
            p{
                color: var(--text);
            }
        }
    }

    section{
        margin-top: 1rem;

        display: flex;
        flex-direction: column;
        text-align: left;
        
        strong{
            margin-top:0.8rem;
            color: var(--text);
        }
        .container section p{
            color: var(--text);
        }
    }

    .techs{
        display: flex;
    }
}
