.header{
    height: 5rem;
    padding: 0 6rem;

    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    a{
        font-size:1.2rem;
        font-weight: 600;
    }

    p{
        left:200px;
        top:60px;
        position: absolute;
        padding: 0.5rem;
        font-size: 0.8rem;
        width: 200px;
        text-align:center;
        background-color:var(--text);
        color: var(--btn-background);
        border-radius: 11px;
        opacity:0;
    }
    
    &:hover{
        p{
            position:block;
            opacity: 1;
            transition: opacity 0.7s linear;
        }
    }
}

.menu{
    display:flex;
    align-items: center;

    ul{
        display:flex;
        justify-content: space-between;

        list-style: none;
        width:20rem;
        font-size: 1.2rem;
        font-weight: 400;
        margin-right: 1.2rem;

        
        li{
            color:var(--secondary);
            transition: 0.4 ease;
            &:hover{
                filter:brightness(1.2);
            }
        }

        a{
            color:var(--text);
            padding-bottom: 0.1rem;
            text-align: center;

            &.active{
                border-bottom: 2px solid var(--secondary);
            }
    
        }

        
    }

    button{
        height:2rem;
        width:6.4rem;

        background: linear-gradient(225deg, var(--secondary) 0%, #b31317 100%);
        color: var(--text);
        font-size: 1rem;
        font-weight: 500;

        border-radius:5px;
        border:0;

        transition: 0.3s;

        &:hover{
            transform: translate(5px,-6px);
            filter:brightness(1.1);
        }
    }
}