
.container{
    display: flex;
    height: 85vh;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap: 1.4rem;
    column-gap: 1rem;
}

.button{
    display: block;
    width:12rem;
    text-align: center;
    padding: 0.7rem 0;
    margin-top: 3rem;
    font-size: 1.3rem;
    border-radius: 3px;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    background: linear-gradient(225deg, var(--secondary) 0%, #b31317 100%);

    transition:all 0.4s ease;
    
    &:hover{
        -webkit-filter: brightness(1.4);
        filter:brightness(1.4)
    }
}


@media (max-width:1024px){
    
}